/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
  */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, app/assets/stylesheets/reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, app/assets/stylesheets/reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, app/assets/stylesheets/reset.scss */
body {
  line-height: 1;
}

/* line 34, app/assets/stylesheets/reset.scss */
blockquote, q {
  quotes: none;
}

/* line 37, app/assets/stylesheets/reset.scss */
ol, ul {
  list-style: none;
}

/* line 40, app/assets/stylesheets/reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, app/assets/stylesheets/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, app/assets/stylesheets/nav.scss */
.full-navbar {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 75px;
  border-bottom: 1px solid black;
}

/* line 9, app/assets/stylesheets/nav.scss */
.navbar-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 92.8%;
  height: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
}

/* line 19, app/assets/stylesheets/nav.scss */
.logo {
  font-size: xx-large;
  font-weight: 550;
  vertical-align: middle;
  text-decoration: none;
  color: black;
}

/* line 27, app/assets/stylesheets/nav.scss */
#header-spacer {
  display: flex;
  height: 25px;
  min-width: 38.5%;
}

/* line 33, app/assets/stylesheets/nav.scss */
.nav-links {
  display: flex;
  align-items: center;
  justify-content: right;
  height: 25px;
  width: 30.725%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: initial;
}

/* line 43, app/assets/stylesheets/nav.scss */
#nav-link-login {
  text-decoration: none;
  color: black;
  font-weight: 400;
  font-size: 14px;
  margin-left: 17.5px;
  padding-right: 10px;
}

@media screen and (max-width: 590px) {
  /* line 53, app/assets/stylesheets/nav.scss */
  #nav-link-login {
    display: none;
  }
}

/* line 60, app/assets/stylesheets/nav.scss */
#welcome-button {
  display: inline-block;
  border-style: solid;
  border-width: 0px;
  border-radius: 99em;
  background: green;
  padding: 7px 16px 9px;
  color: white;
  line-height: 20px;
  height: 38px;
  font-size: 14px;
}

/* line 73, app/assets/stylesheets/nav.scss */
#welcome-button:hover {
  cursor: pointer;
}

/* line 1, app/assets/stylesheets/aux_navbar.scss */
.aux-navbar {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 114px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-weight: lighter;
}

/* line 10, app/assets/stylesheets/aux_navbar.scss */
.aux-navbar-items {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 92.8%;
  min-height: 114px;
}

/* line 18, app/assets/stylesheets/aux_navbar.scss */
.aux-logo {
  font-size: 27px;
  font-weight: 500;
  vertical-align: middle;
  text-decoration: none;
  color: black;
}

/* line 26, app/assets/stylesheets/aux_navbar.scss */
.right-logo {
  font-size: xx-large;
  font-weight: 550;
  vertical-align: middle;
  text-decoration: none;
  color: black;
  padding-left: 10px;
}

/* line 35, app/assets/stylesheets/aux_navbar.scss */
#dropdown-toggle {
  margin-right: 10px;
}

/* line 1, app/assets/stylesheets/session_modal.scss */
.modal-screen {
  position: fixed;
  background: rgba(255, 255, 255, 0.8);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

/* line 11, app/assets/stylesheets/session_modal.scss */
.session-form {
  position: fixed;
  top: 350px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  min-height: 700px;
  padding: 44, 56, 44, 56;
  background: #fff;
  z-index: 3;
  border-radius: 5px;
  border: 0px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* line 30, app/assets/stylesheets/session_modal.scss */
.session-modal-close-button {
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: xx-large;
  font-weight: lighter;
}

/* line 38, app/assets/stylesheets/session_modal.scss */
.session-modal-close-button:hover {
  cursor: pointer;
}

/* line 42, app/assets/stylesheets/session_modal.scss */
.session-form-header {
  display: block;
  line-height: 32px;
  font-size: 28px;
  font-weight: 400;
  margin-top: -165px;
  color: #080808;
  margin-bottom: 80px;
}

/* line 52, app/assets/stylesheets/session_modal.scss */
.modal-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* line 59, app/assets/stylesheets/session_modal.scss */
.session-errors {
  margin-bottom: 13px;
}

/* line 63, app/assets/stylesheets/session_modal.scss */
.session-form-input {
  text-align: center;
  line-height: 35px;
  margin-bottom: 13px;
  width: 212px;
  display: inline-block;
  border-style: solid;
  border-width: 1px;
  border-color: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 99em;
  font-size: 14px;
}

/* line 76, app/assets/stylesheets/session_modal.scss */
.sign-up-button {
  display: inline-block;
  width: 212px;
  border-style: solid;
  border-width: 1px;
  border-color: #191919;
  border-radius: 99em;
  background: #191919;
  padding: 7px 16px 9px;
  color: white;
  line-height: 20px;
  height: 38px;
  font-size: 14px;
  margin-bottom: 13px;
}

/* line 91, app/assets/stylesheets/session_modal.scss */
.sign-up-button:hover {
  cursor: pointer;
}

/* line 95, app/assets/stylesheets/session_modal.scss */
.demo-user-button {
  display: inline-block;
  width: 212px;
  border-style: solid;
  border-width: 1px;
  border-color: #191919;
  border-radius: 99em;
  background: #191919;
  padding: 7px 16px 9px;
  color: white;
  line-height: 20px;
  height: 38px;
  font-size: 14px;
  margin-bottom: 13px;
  text-align: center;
}

/* line 111, app/assets/stylesheets/session_modal.scss */
.demo-user-button:hover {
  cursor: pointer;
}

/* line 115, app/assets/stylesheets/session_modal.scss */
.sign-up-swapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 121, app/assets/stylesheets/session_modal.scss */
#swapper-linker {
  cursor: pointer;
  color: green;
}

/* line 126, app/assets/stylesheets/session_modal.scss */
.error {
  color: green;
}

@media screen and (max-width: 730px) {
  /* line 132, app/assets/stylesheets/session_modal.scss */
  .session-form {
    width: 100%;
  }
}

@media screen and (max-width: 905px) {
  /* line 138, app/assets/stylesheets/session_modal.scss */
  .session-form {
    height: 100%;
  }
}

/* line 1, app/assets/stylesheets/story.scss */
#entire-article-container {
  display: block;
  width: 100%;
}

/* line 6, app/assets/stylesheets/story.scss */
#article-centering {
  display: flex;
  justify-content: center;
}

/* line 11, app/assets/stylesheets/story.scss */
#article-proper {
  max-width: 680px;
}

/* line 15, app/assets/stylesheets/story.scss */
.story-header {
  display: block;
  text-decoration: none;
  margin-top: 63px;
  line-height: 56px;
  font-size: 46px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #292929;
  font-weight: bolder;
  font-style: normal;
}

/* line 27, app/assets/stylesheets/story.scss */
#byline {
  color: #698e7c;
  line-height: 20px;
  font-size: 14px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* line 34, app/assets/stylesheets/story.scss */
#byline-link {
  text-decoration: none;
  margin-top: 32px;
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

/* line 42, app/assets/stylesheets/story.scss */
.user-photo {
  padding-right: 10px;
  height: 20px;
}

/* line 47, app/assets/stylesheets/story.scss */
.fa-user {
  color: #292929;
}

/* line 51, app/assets/stylesheets/story.scss */
#tagline {
  line-height: 32px;
  font-size: 28px;
  color: #292929;
  margin-top: 24px;
  font-weight: bold;
  margin-bottom: 24px;
}

/* line 60, app/assets/stylesheets/story.scss */
#story-body {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  line-height: 32px;
  font-size: 21px;
  color: #292929;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 70, app/assets/stylesheets/story.scss */
.story-paragraph {
  margin-top: 0;
  margin-bottom: 32px;
}

/* line 75, app/assets/stylesheets/story.scss */
.fa-heart:hover {
  cursor: pointer;
}

/* line 79, app/assets/stylesheets/story.scss */
.fa-heart {
  padding-right: 70px;
}

/* line 83, app/assets/stylesheets/story.scss */
.story-photo {
  width: 100%;
}

/* line 87, app/assets/stylesheets/story.scss */
.fa-comments:hover {
  cursor: pointer;
}

/* line 91, app/assets/stylesheets/story.scss */
.fa-comments {
  padding-right: 10px;
}

/* line 95, app/assets/stylesheets/story.scss */
#clap-count {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 80px;
}

/* line 1, app/assets/stylesheets/home.scss */
#splash-photo {
  min-height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 10, app/assets/stylesheets/home.scss */
#welcome-header {
  display: block;
  color: white;
  padding-top: 5%;
  padding-bottom: 11%;
  margin-left: 50px;
  font-size: 80px;
  width: 50%;
}

/* line 20, app/assets/stylesheets/home.scss */
#start-writing-button {
  position: absolute;
  display: inline-block;
  border-width: 0px;
  border-radius: 99em;
  background: white;
  margin-top: 15px;
  margin-bottom: 5%;
  padding: 7px 16px 9px;
  color: black;
  line-height: 20px;
  height: 38px;
  font-size: 14px;
}

/* line 1, app/assets/stylesheets/trending.scss */
#trending-full-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/* line 10, app/assets/stylesheets/trending.scss */
ol {
  counter-reset: ordered-list;
}

/* line 14, app/assets/stylesheets/trending.scss */
.list-container {
  width: 95%;
}

/* line 18, app/assets/stylesheets/trending.scss */
.list-proper {
  display: grid;
  width: 100%;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 100px 100px;
  grid-gap: 5%;
}

/* line 26, app/assets/stylesheets/trending.scss */
.trending-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 75;
  width: 230;
}

/* line 34, app/assets/stylesheets/trending.scss */
.trending-item:before {
  content: counter(ordered-list);
  counter-increment: ordered-list;
  font-size: 25px;
  font-weight: bold;
  margin-right: 10px;
  opacity: 0.2;
}

/* line 43, app/assets/stylesheets/trending.scss */
.story-preview {
  text-decoration: none;
  color: black;
}

/* line 49, app/assets/stylesheets/trending.scss */
.author-trending {
  margin-bottom: 5px;
  font-size: smaller;
}

/* line 54, app/assets/stylesheets/trending.scss */
.title-trending {
  font-size: large;
}

@media screen and (max-width: 960px) {
  /* line 60, app/assets/stylesheets/trending.scss */
  .list-proper {
    display: grid;
    width: 88%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px 100px 100px;
    grid-gap: 32px;
  }
}

@media screen and (max-width: 600px) {
  /* line 70, app/assets/stylesheets/trending.scss */
  .list-proper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

/* line 1, app/assets/stylesheets/dropdown.scss */
.show-dropdown {
  position: relative;
  top: 50px;
  left: -30px;
  display: flex;
  flex-direction: column;
  padding-top: 80px;
}

/* line 11, app/assets/stylesheets/dropdown.scss */
.clear {
  display: none;
}

/* line 1, app/assets/stylesheets/story_form.scss */
#story-form-container {
  display: flex;
  flex-direction: column;
}

/* line 6, app/assets/stylesheets/story_form.scss */
.story-form-input {
  display: block;
  min-width: 84%;
  margin-left: 8%;
  margin-right: 8%;
  margin-bottom: 29px;
  height: 33px;
  font-size: larger;
  border: none;
}

/* line 17, app/assets/stylesheets/story_form.scss */
.story-form-input-photo {
  display: block;
  min-width: 84%;
  margin-left: 8%;
  margin-right: 8%;
  margin-bottom: 29px;
  font-size: larger;
  border: none;
}

/* line 27, app/assets/stylesheets/story_form.scss */
.story-title-input {
  font-size: 50px;
  height: 50px;
}

/* line 32, app/assets/stylesheets/story_form.scss */
.story-form-submit {
  display: block;
  margin-left: 8%;
  border-style: solid;
  border-width: 0px;
  border-radius: 99em;
  background: green;
  padding: 7px 16px 9px;
  color: black;
  line-height: 20px;
  height: 38px;
  font-size: 14px;
}

/* line 46, app/assets/stylesheets/story_form.scss */
.story-form-submit:hover {
  cursor: pointer;
}

/*
 *= require_tree .
 *= require_self
 */

/*# sourceMappingURL=application.css-183efeae10b71a65cc62b1d4a36348fb18e7f6952f5c5756a05fb6790e0d60e7.map */
