
:root {
    --noteOpacity: 0;
    --menuVisibility: visible;
    --navdisplay: flex;
    --bodyColor: aliceblue;
}

h1 {
    display: flex;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: xx-large;
    color: black;
}

body {
    background-color: var(--bodyColor);
    
}

.guitar {
    display: flex;
    background: MistyRose;
    flex-direction: column;
    width: 100%;
    margin-top: 100px;
    height: 200px;
}

.guitarstring {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    top: 12px;
}

.guitarstring:before {
    content: "";
    width: 100%;
    height: 5px;
    background:darkslategray;
    position: absolute;
    z-index: 1;
}

#key-change {
    opacity: var(--noteOpacity);
}

.note {
    display: flex;
    flex: 1;
    border-right: 3px solid;
    justify-content: center;
    position: relative;
    bottom: 10px;
    border-color: silver;
}

.note:first-child {
    background: darkslategray;
    opacity: 0.6;
    z-index: 3;
}

.note::before {
    content: attr(data-note-short);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    line-height: 25px;
    text-align: center;
    background: cornflowerblue;
    transition-property: opacity;
    transition-duration: 1s;
    opacity: var(--noteOpacity);
    z-index: 2;
}

.lower-nav {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}



.secondary-menus {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}







.showing {
    opacity: 1;
}

.dot-marker:after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: black;
    top: 23px;
    opacity: 1;
}



h4 {
    display: flex;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    font-weight: 400;
    color: black;
}

.navradios {
    display: var(--navdisplay)
}





